# OpenAI 配置
OPENAI_API_KEY=xxx
OPENAI_BASE_URL=https://xxx
OPENAI_CHAT_MODEL=xxx

# LangChain 配置
LANGCHAIN_TRACING_V2=xxx
LANGCHAIN_ENDPOINT=xxx
LANGCHAIN_API_KEY=xxx
LANGCHAIN_PROJECT=xxx

# 文件路径配置
FILE_INPUT_PATH=/path/to/your/project/uploads/
FILE_OUTPUT_PATH=/path/to/your/project/output/
LOGGING_LOG_PATH=/path/to/your/project/logs/
PROMPT_PATH=/path/to/your/project/prompt/
LOGGING_LOG_LEVEL=INFO

# Gradio 配置
GRADIO_TEMP_DIR=/path/to/temp
GRADIO_SERVER_NAME=0.0.0.0
GRADIO_ANALYTICS_ENABLED=True
GRADIO_DEBUG=True
GRADIO_ROOT_PATH=/myapp
GRADIO_SHARE=True
GRADIO_SERVER_PORT=8001

# SiliconFlow 配置
SILICONFLOW_API_KEY=xxx
SILICONFLOW_API_URL=xxx
SILICONFLOW_MODEL_QWEN=xxx
SILICONFLOW_MODEL_YI=xxx
SILICONFLOW_MODEL_LLAMA=xxx
SILICONFLOW_MODEL_MISTRALAI=xxx

# 付费模型
PAYMENT_MODEL=gpt-4o-mini,gpt-4o,Cluade-3.5-sonnet-20240620

# 支持的文件类型
FILE_TYPE_LIST=pptx,docx,pdf,xlsx

# 需要的文件
NEED_FILE_LIST=translate_pptx_json,translate_docx_json,translate_pdf_json,translate_xlsx_json,struct_json

# Prompt 文件
TRANSLATE_PPTX_JSON=translate_pptx_json
TRANSLATE_DOCX_STR=translate_docx_json
TRANSLATE_PDF_JSON=translate_pdf_json
TRANSLATE_XLSX_JSON=translate_xlsx_json
TRANSLATE_CHAT_STR=translate_chat_str
STRUCT_JSON=struct_json
STRUCT_STR=

# 文本块长度
CHUNK_LENGTH=500
